@use 'sass:math';
@import '/src/scss/mixins';
@import '/src/scss/style.scss';

.header {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(30) 0 0;
  height: rem(75);
  border-bottom: rem(1) solid cl(line-white);

  @media (max-width: $tablet) {
    // position: fixed;
    width: 100%;
    height: rem(60);
    padding: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: rem(-1);
      left: 0;
      right: 0;
      height: rem(1);
      background: cl(line-white);
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: rem(0) rem(14);
    border-right: rem(1) solid cl(line-white);

    @media (max-width: $tablet) {
      padding: 0 rem(12);
    }

    svg {
      width: auto;
      height: rem(50);

      @media (max-width: $tablet) {
        height: rem(40);
      }
    }
  }

  &Menu {
    @media (max-width: $tablet) {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 101vh;
      background: cl(main-white);

      padding: rem(96) rem(15) rem(20);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transform: translate(-100%, 0);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      user-select: none;

      transition: all $time $tr;

      &.open {
        transform: translate(0);
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
        user-select: unset;
      }
    }

    &__list {
      display: flex;
      gap: rem(32);
      align-items: center;

      @media (max-width: $tablet) {
        flex-direction: column;
        align-items: flex-start;
        gap: rem(16);
      }
    }

    &__social {
      display: flex;
      gap: rem(8);

      .socialBtn {
        border-radius: rem(8);
        border: rem(1) solid #c8c8c8;
      }
    }
  }

  &__btn {
    @media (max-width: $tablet) {
      margin: 0 rem(20) 0 auto;
    }
  }

  &__burger {
    position: relative;
    flex: 0 0 auto;
    width: rem(54);
    height: 100%;
    border-left: rem(1) solid cl(line-white);

    &.open {
      span {
        &:nth-child(1) {
          margin: 0;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(3) {
          opacity: 0;
          transform: scaleX(0.1);
        }
      }
    }

    span {
      position: absolute;
      background: cl(main-black);
      left: 50%;
      top: 50%;
      border-radius: rem(20);

      width: rem(22);
      height: rem(2);

      transform: translate(-50%, -50%);
      transition: all $time $tr;

      &:nth-child(1) {
        margin: rem(-7) 0 0;
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
        margin: rem(7) 0 0;
      }
    }
  }
}

.menu__title {
  color: cl(input-border) !important;
}
