@use 'sass:math';
@import '/src/scss/mixins';
@import '/src/scss/style.scss';

.info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: rem(30);
  gap: rem(30);
  // border-bottom: rem(1) solid cl(line-white);
  background-color: #f5f5f5;

  @media (max-width: $tablet) {
    border-bottom: rem(1) solid cl(line-white);
    padding: rem(15) rem(15) rem(24);
  }

  &__img {
    height: rem(176);

    @media (max-width: $tablet) {
      height: rem(140);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @media (max-width: $tablet) {
      gap: rem(24);
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__row {
      @media (max-width: $tablet) {
        flex: 0 0 calc(50% - rem(12));
      }
    }
  }
}
